<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Restaurant</display-name>
  <welcome-file-list>
    <welcome-file>Main.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
		<servlet-name>RestaurantFrontController</servlet-name>
		<servlet-class>com.restaurant.action.RestaurantFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>RestaurantFrontController</servlet-name>
		<url-pattern>*.res</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>AdminFrontController</servlet-name>
		<servlet-class>com.admin.action.AdminFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>AdminFrontController</servlet-name>
		<url-pattern>*.ad</url-pattern>
  </servlet-mapping>
  
    <servlet>
		<servlet-name>BoardFrontController</servlet-name>
		<servlet-class>com.board.action.BoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>BoardFrontController</servlet-name>
		<url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  
    <servlet>
		<servlet-name>MemberFrontController</servlet-name>
		<servlet-class>com.member.action.MemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>MemberFrontController</servlet-name>
		<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
		<servlet-name>MenuFrontController</servlet-name>
		<servlet-class>com.menu.action.MenuFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
		<servlet-name>MenuFrontController</servlet-name>
		<url-pattern>*.me</url-pattern>
  </servlet-mapping>
 
</web-app>